\:root
  --bg-lavender-color: #e9e9f6
  --bg-ligth-blue-color: #e6eafc
  --font-dark-blue-color: #252850
  --font-black-color: #090a15
  --font-black-color-0: rgba(9, 10, 21, 0)
  --font-black-color-1: rgba(9, 10, 21, 0.5)
  --btn-blue-color: #4772f2
  --btn-blue-sec-color: #c6d2f6
  --btn-blue-color-hover: #7e9cf6
  --btn-blue-sec-color-hover: #a0b4f0
  --btn-blue-color-disabled: #c8d5fb
  --btn-blue-color-0: rgba(65, 105, 225, 0)
  --btn-blue-color-1: rgba(65, 105, 225, 0.3)
  --btn-blue-color-2: rgba(65, 105, 225, 0.5)
  --btn-blue-color-3: rgba(65, 105, 225, 0.2)
  --btn-blue-color-4: rgba(65, 105, 225, 0.8)
  --bg-btn-icons-color: rgba(215, 217, 255, 0.6)
  --font-grey-color: #9294a7
  --border-light-grey-color: #d3d4dc
  --default-shadow: 4px 4px 8px rgba(9, 10, 21, 0.1), -4px -4px 8px rgba(9, 10, 21, 0.1)
  --bg-hover-row-table: rgba(215, 217, 255, 0.25)
  --default-white: #fff
  --btn-red-color: #ff6f6f
  --font-obligatory-color: #ff0000
  --bg-event-box-color: rgba(37, 40, 80, 0.1)
  --bg-event-green-color: #24d07d
  --bg-event-green-color-0: #cdf0e5
  --bg-event-green-color-1: #92e8be
  --bg-event-red-color: #e93131
  --bg-event-red-color-0: #f8c1c1
  --bg-event-red-color-1: #f49898
  --bg-event-yellow-color: #e5e931
  --bg-event-yellow-color-0: #f8f9c2
  --bg-event-yellow-color-1: #f2f498
  --bg-event-blue-color: #3ba3ee
  --bg-event-blue-color-0: #c5e4fa
  --bg-event-blue-color-1: #93cdf6
  --bg-event-default-hover-color: #d9e1f9
  --border-event-default-color: #b3c3f3
  --light-grey-bg-color: #f8f9fa
  --btn-green-color: rgba(60, 217, 75, 1)
  --btn-light-green-color: rgba(60, 217, 75, 0.2)
  --border-light-grey-color-1: rgba(211, 212, 220, 0.5)
  --bg-white-color-0: rgba(255, 255, 255, 0.3)
  --border-red-color: #ff6565
  --pagination-item-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%)
  --pagination-current-item-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%)
