\:root
  --bg-lavender-color: #e9e9f6
  --bg-ligth-blue-color: #e6eafc
  --font-dark-blue-color: #252850
  --font-black-color: #090a15
  --font-black-color-0: rgba(9, 10, 21, 0)
  --font-black-color-1: rgba(9, 10, 21, 0.5)
  --btn-blue-color: #4772f2
  --btn-blue-color-0: rgba(65, 105, 225, 0)
  --btn-blue-color-1: rgba(65, 105, 225, 0.3)
  --btn-blue-color-2: rgba(65, 105, 225, 0.5)
  --btn-blue-color-3: rgba(65, 105, 225, 0.2)
  --btn-blue-color-4: rgba(65, 105, 225, 0.8)
  --bg-btn-icons-color: rgba(215, 217, 255, 0.6)
  --font-grey-color: #9294a7
  --border-light-grey-color: #d3d4dc
  --default-shadow: 4px 4px 8px rgba(9, 10, 21, 0.1), -4px -4px 8px rgba(9, 10, 21, 0.1)
  --bg-hover-row-table: rgba(215, 217, 255, 0.25)
  --default-white: #fff
  --btn-red-color: #ff6f6f
  --font-obligatory-color: #ff0000
  --bg-event-box-color: rgba(37, 40, 80, 0.1)
  --bg-event-green-color: #24d07d
  --bg-event-red-color: #e93131
  --bg-event-yellow-color: #e5e931
  --bg-event-blue-color: #3ba3ee
  --light-grey-bg-color: #f8f9fa
  --btn-green-color: rgba(60, 217, 75, 1)
  --btn-light-green-color: rgba(60, 217, 75, 0.2)